<form action="/cars" method="post"> @* When a form is being used to create a new object, it must have a post method *@
  <label for="make">What type of car are you adding?</label>
  <input id="make" name="make" type="text">

  <label for="description">describe the car</label>
  <input id="description" name="description" type="text">

  <label for="year">year</label>
  <input id="year" name="year" type="text">

  <label for="price">price</label>
  <input id="price" name="price" type="text">

  <button type="submit">Submit</button>
</form>